.heroh {
  background-image: url("../assets/Images/Gardeners.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 616.312px;
  &__main-container {
    background-color: rgba($black, 0.3);
    width: 100vw;
    height: 616.312px;
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 616.312px;
    padding: 65px 0 0 200px;
    &--title {
      font-family: fertigo;
      color: $white;
      font-size: 3.75rem;
      margin: 0em;
    }
    &--subtitle {
      font-family: lato-bold;
      color: $white;
      margin-top: 10px;
    }
  }
}
