.herop {
  background-image: url("../assets/Images/productoshero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 38.5195rem;
  &__main-container {
    background-color: rgba($black, 0.2);
    width: 100vw;
    height: 38.5195rem;
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 38.5195rem;
    padding: 4.0625rem 0 0 12.5rem;
    &--title {
      font-family: fertigo;
      color: $white;
      font-size: 3.75rem;
      margin: 0em;
    }
  }
}
