.mainp {
  &__tiles {
    width: 100vw;
    height: 7.25rem;
    justify-content: space-between;
    display: flex;
    &--title {
      font-family: fertigo;
      font-size: 1.25rem;
      margin: 0;
    }
    &--sub {
      font-family: lato-bold;
    }
    &--tileo {
      width: 30rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba($silver, 0.3);
      &:hover {
        color: white;
        background-color: $dark-grey;
      }
    }
    &--tile {
      width: 30rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:hover {
        color: white;
        background-color: $dark-grey;
      }
    }
  }
  &__first-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.25rem 2.5rem;
    height: 34.375rem;
    background-color: rgba($color: $silver, $alpha: 0.1);

    &--text {
      width: 40.625rem;
    }
    &--title {
      font-family: fertigo;
      font-size: 2.25rem;
    }
    &--sub {
      font-family: lato-regular;
      font-size: 1.25rem;
      width: 34.875rem;
    }

    &--carousel {
      height: 28.4375rem;
      width: 41.25rem;
    }
    &--carousel-container {
    }
    &--vector {
      height: 28.4375rem;
      width: 41.25rem;
      border-radius: 0.5rem;
    }
  }
  &__button-container {
    position: relative;
    &--back {
      position: absolute;
      height: 50px;
      width: 3.125rem;
      bottom: 11.5625rem;
      background: 0;
      border: 0;
      outline: none;
    }
    &--next {
      position: absolute;
      height: 3.125rem;
      width: 3.125rem;
      bottom: 11.5625rem;
      right: 0;
      background: 0;
      border: 0;
      outline: none;
    }
  }
  &__banner-container {
    background-image: url("../assets/Images/Acelga1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 12.5rem;
    font-family: fertigo;
    color: $white;
    font-size: 3.125rem;
    &--image {
      border-top: 0.125rem solid $light-green;
      border-bottom: 0.125rem solid $light-green;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba($black, 0.3);
      height: 12.5rem;
      width: 100vw;
    }
  }
  &__second-container {
    padding: 1.25rem 2.5rem;
    height: 40.625rem;

    &--title-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &--title {
      font-family: fertigo;
      font-size: 2.25rem;
      text-align: center;
      margin: 0;
    }

    &--divider {
      width: 20.875rem;
      align-self: center;
      margin: 1.25rem;
    }
    &--cardcontainer {
      display: flex;
      justify-content: space-around;
    }
    &--card {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &--image {
      height: 12.5rem;
    }
    &--label {
      font-family: lato-bold;
    }
    &--sublabel {
      font-family: lato-regular;
      font-size: 1rem;
      width: 14.75rem;
      text-align: center;
    }
  }
}
