.main {
  &__tiles {
    width: 100vw;
    height: 8.125rem;
    justify-content: space-between;
    display: flex;
    &--image {
      width: 5rem;
    }
    &--sub {
      font-family: lato-bold;
      margin: 0;
    }
    &--tileo {
      width: 30rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: rgba($silver, 0.3);
    }
    &--tile {
      width: 30rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }
  &__first-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.25rem 2.5rem;
    height: 34.375rem;
    background-color: rgba($color: $silver, $alpha: 0.1);
    &--text {
      width: 31.25rem;
    }
    &--title {
      font-family: fertigo;
      font-size: 2.25rem;
    }
    &--sub {
      font-family: lato-regular;
      font-size: 1.25rem;
    }
    &--button {
      font-family: lato-bold;
      background-color: $dark-green;
      color: $white;
      font-size: 1rem;
      border: none;
      width: 9.375rem;
      height: 2.5rem;
      border-radius: 2px;
      &:hover {
        color: black;
        background: $light-green;
      }
    }

    &--vector {
      height: 28.4375rem;
      width: 41.25rem;
      border-radius: 0.5rem;
    }
  }
  &__banner-container {
    background-image: url("../assets/Images/Acelga1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 12.5rem;
    font-family: fertigo;
    color: $white;
    font-size: 3.125rem;
    &--image {
      border-top: 0.125rem solid $light-green;
      border-bottom: 0.125rem solid $light-green;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba($black, 0.3);
      height: 12.5rem;
      width: 100vw;
    }
  }
  &__second-container {
    padding: 1.25rem 2.5rem;

    &--title-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &--title {
      font-family: fertigo;
      font-size: 2.25rem;
      text-align: center;
      align-items: center;
      margin: 0;
    }
    &--divider {
      width: 300px;
      align-self: center;
      margin: 20px;
    }
    &--cardcontainer {
      display: flex;
      justify-content: space-between;
    }
    &--card {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &--image {
      height: 12.5rem;
    }
    &--label {
      font-family: lato-bold;
    }
    &--sublabel {
      font-family: lato-regular;
      font-size: 1rem;
      width: 25rem;
      text-align: center;
    }
  }
}
