/* universal-reset */
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* media query for mobile */
/* media query for tablet */
/* media query for landscape, medium pixel density desktops */
@font-face {
  font-family: fertigo;
  src: url("../assets/Fonts/fertigo_pro.otf");
}

@font-face {
  font-family: lato-black;
  src: url("../assets/Fonts/Lato-Black.ttf");
}

@font-face {
  font-family: lato-bold;
  src: url("../assets/Fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: lato-italic;
  src: url("../assets/Fonts/Lato-Italic.ttf");
}

@font-face {
  font-family: lato-light;
  src: url("../assets/Fonts/Lato-Light.ttf");
}

@font-face {
  font-family: lato-regular;
  src: url("../assets/Fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: lato-thin;
  src: url("../assets/Fonts/Lato-Thin.ttf");
}

.nav {
  height: 56px;
  width: 100vw;
  background-color: #08544d;
  position: fixed;
  z-index: 1;
}

.nav__main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 56px;
  padding: 12px 40px;
}

.nav__logo-container {
  width: 155.642px;
  height: 26.274px;
}

.nav__logo-container--logo {
  width: 155.642px;
  height: 26.274px;
}

.nav__pages-container {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
}

.nav__link:focus,
.nav__link :hover {
  color: #68c63c;
}

.nav__title {
  text-decoration: none;
  margin: 0;
  font-family: lato-bold;
}

.footer__tiles {
  width: 100vw;
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__tiles--image {
  height: 30px;
}

.footer__tiles--sub {
  font-family: lato-bold;
  color: #ffffff;
  font-size: 13px;
  margin: 0;
}

.footer__tiles--tileo {
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #383c3e;
}

.footer__tiles--tile {
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  background-color: #383c3e;
}

.footer__tiles--email {
  text-decoration: none;
  color: #ffffff;
}

.footer__tiles--email:hover {
  color: #68c63c;
}

.footer__footer-container {
  background-color: #08544d;
  height: 200px;
  padding: 30px;
}

.footer__main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__first-container {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__first-container--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__first-container--icon {
  background-color: #383c3e;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__first-container--icon:hover {
  background-color: #68c63c;
}

.footer__first-container--logo {
  width: 155.642px;
  height: 26.274px;
}

.footer__first-container--copyright {
  color: #ffffff;
  font-family: lato-regular;
  margin: 0;
  font-size: 12px;
}

.hero {
  background-image: url("../assets/Images/Hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 38.5195rem;
}

.hero__main-container {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 38.5195rem;
}

.hero__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 38.5195rem;
  padding: 4.0625rem 0 0 12.5rem;
}

.hero__text-container--title {
  font-family: fertigo;
  color: #ffffff;
  font-size: 3.75rem;
  margin: 0em;
}

.hero__text-container--subtitle {
  font-family: lato-bold;
  color: #ffffff;
  margin-top: 0.625rem;
}

.main__tiles {
  width: 100vw;
  height: 8.125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__tiles--image {
  width: 5rem;
}

.main__tiles--sub {
  font-family: lato-bold;
  margin: 0;
}

.main__tiles--tileo {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(175, 175, 175, 0.3);
}

.main__tiles--tile {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__first-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 2.5rem;
  height: 34.375rem;
  background-color: rgba(175, 175, 175, 0.1);
}

.main__first-container--text {
  width: 31.25rem;
}

.main__first-container--title {
  font-family: fertigo;
  font-size: 2.25rem;
}

.main__first-container--sub {
  font-family: lato-regular;
  font-size: 1.25rem;
}

.main__first-container--button {
  font-family: lato-bold;
  background-color: #08544d;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  width: 9.375rem;
  height: 2.5rem;
  border-radius: 2px;
}

.main__first-container--button:hover {
  color: black;
  background: #68c63c;
}

.main__first-container--vector {
  height: 28.4375rem;
  width: 41.25rem;
  border-radius: 0.5rem;
}

.main__banner-container {
  background-image: url("../assets/Images/Acelga1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 12.5rem;
  font-family: fertigo;
  color: #ffffff;
  font-size: 3.125rem;
}

.main__banner-container--image {
  border-top: 0.125rem solid #68c63c;
  border-bottom: 0.125rem solid #68c63c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 12.5rem;
  width: 100vw;
}

.main__second-container {
  padding: 1.25rem 2.5rem;
}

.main__second-container--title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__second-container--title {
  font-family: fertigo;
  font-size: 2.25rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.main__second-container--divider {
  width: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 20px;
}

.main__second-container--cardcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__second-container--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__second-container--image {
  height: 12.5rem;
}

.main__second-container--label {
  font-family: lato-bold;
}

.main__second-container--sublabel {
  font-family: lato-regular;
  font-size: 1rem;
  width: 25rem;
  text-align: center;
}

.herop {
  background-image: url("../assets/Images/productoshero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 38.5195rem;
}

.herop__main-container {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 38.5195rem;
}

.herop__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 38.5195rem;
  padding: 4.0625rem 0 0 12.5rem;
}

.herop__text-container--title {
  font-family: fertigo;
  color: #ffffff;
  font-size: 3.75rem;
  margin: 0em;
}

.mainp__tiles {
  width: 100vw;
  height: 7.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainp__tiles--title {
  font-family: fertigo;
  font-size: 1.25rem;
  margin: 0;
}

.mainp__tiles--sub {
  font-family: lato-bold;
}

.mainp__tiles--tileo {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(175, 175, 175, 0.3);
}

.mainp__tiles--tileo:hover {
  color: white;
  background-color: #323232;
}

.mainp__tiles--tile {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainp__tiles--tile:hover {
  color: white;
  background-color: #323232;
}

.mainp__first-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 2.5rem;
  height: 34.375rem;
  background-color: rgba(175, 175, 175, 0.1);
}

.mainp__first-container--text {
  width: 40.625rem;
}

.mainp__first-container--title {
  font-family: fertigo;
  font-size: 2.25rem;
}

.mainp__first-container--sub {
  font-family: lato-regular;
  font-size: 1.25rem;
  width: 34.875rem;
}

.mainp__first-container--carousel {
  height: 28.4375rem;
  width: 41.25rem;
}

.mainp__first-container--vector {
  height: 28.4375rem;
  width: 41.25rem;
  border-radius: 0.5rem;
}

.mainp__button-container {
  position: relative;
}

.mainp__button-container--back {
  position: absolute;
  height: 50px;
  width: 3.125rem;
  bottom: 11.5625rem;
  background: 0;
  border: 0;
  outline: none;
}

.mainp__button-container--next {
  position: absolute;
  height: 3.125rem;
  width: 3.125rem;
  bottom: 11.5625rem;
  right: 0;
  background: 0;
  border: 0;
  outline: none;
}

.mainp__banner-container {
  background-image: url("../assets/Images/Acelga1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 12.5rem;
  font-family: fertigo;
  color: #ffffff;
  font-size: 3.125rem;
}

.mainp__banner-container--image {
  border-top: 0.125rem solid #68c63c;
  border-bottom: 0.125rem solid #68c63c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 12.5rem;
  width: 100vw;
}

.mainp__second-container {
  padding: 1.25rem 2.5rem;
  height: 40.625rem;
}

.mainp__second-container--title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainp__second-container--title {
  font-family: fertigo;
  font-size: 2.25rem;
  text-align: center;
  margin: 0;
}

.mainp__second-container--divider {
  width: 20.875rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1.25rem;
}

.mainp__second-container--cardcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainp__second-container--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainp__second-container--image {
  height: 12.5rem;
}

.mainp__second-container--label {
  font-family: lato-bold;
}

.mainp__second-container--sublabel {
  font-family: lato-regular;
  font-size: 1rem;
  width: 14.75rem;
  text-align: center;
}

.heroh {
  background-image: url("../assets/Images/Gardeners.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 616.312px;
}

.heroh__main-container {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 616.312px;
}

.heroh__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 616.312px;
  padding: 65px 0 0 200px;
}

.heroh__text-container--title {
  font-family: fertigo;
  color: #ffffff;
  font-size: 3.75rem;
  margin: 0em;
}

.mainh__description {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainh__description--frame {
  background-image: url("../assets/Illustrations/Frame.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 84%;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainh__description--p {
  font-size: 1.125rem;
  line-height: 1.8;
  font-family: lato-bold;
  margin-top: 0;
  width: 70%;
  height: 16%;
  text-align: center;
}

.mainh__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainh__banner--image {
  width: 480px;
  height: 330px;
}

.mainh__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px;
  background-color: rgba(175, 175, 175, 0.1);
}

.mainh__main--title {
  font-family: fertigo;
}

.mainh__main--divider {
  width: 300px;
  margin: 20px;
}

.mainh__main--text {
  width: 511px;
  line-height: 1.8;
  text-align: center;
  font-family: lato-regular;
  font-size: 1rem;
}

.mainh__lastpic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainh__lastpic-container--pic {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: url("../assets/Images/planting.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 519.22px;
  width: 1290px;
}

.veg {
  padding: 20px 40px;
  background-color: rgba(175, 175, 175, 0.1);
  height: 750px;
}

.veg__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.veg__title {
  font-family: fertigo;
  font-size: 2.25rem;
  text-align: center;
  margin: 0px;
}

.veg__divider {
  width: 21.875rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1.25rem;
}

.veg__carousel-provider {
  margin-left: 85px;
}

.veg__card-container {
  width: 350px;
  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
          box-shadow: 3px 3px 5px 0px #ccc;
  border-radius: 25px;
  margin-top: 25px;
}

.veg__card-container:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.veg__filter {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.veg__filter:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.veg__card-body {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #08544d;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.veg__card-body--title {
  font-family: lato-bold;
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
}

.veg__card-body--subtitle {
  font-family: lato-regular;
  margin-bottom: 10pxpx;
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}

.veg__button-container {
  position: relative;
}

.veg__button-container--back {
  position: absolute;
  height: 90px;
  left: -80px;
  width: 30px;
  bottom: 296px;
  background: 0;
  border: 0;
  outline: none;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.veg__button-container--back:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.veg__button-container--next {
  position: absolute;
  height: 90px;
  width: 30px;
  bottom: 147px;
  right: 0;
  background: 0;
  border: 0;
  outline: none;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.veg__button-container--next:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.veg__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border-top: 1px solid #68c63c;
}

.veg__image-container--vector {
  height: 130px;
  margin: 10px;
}

.veg__card-bodyone {
  padding: 20px 20px;
  background-color: rgba(175, 175, 175, 0.5);
  height: 280px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.veg__card-bodyone--title {
  font-family: lato-bold;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 10px;
  width: 185px;
  border-bottom: 3px solid #ffffff;
}

.veg__card-bodyone--description {
  font-family: lato-regular;
  font-size: 16px;
}

.contacto {
  background-image: url("../assets/Images/productoshero1.jpg");
  background-color: deeppink;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 950px;
  padding-top: 80px;
}

.contacto__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto__title-container--title {
  font-family: fertigo;
  font-size: 2.25rem;
  margin: 0;
  color: #ffffff;
}

.contacto__title-container--divider {
  width: 300px;
  margin: 20px;
}

.contacto__title-container--subtitle {
  color: #ffffff;
  font-family: lato-regular;
  font-size: 1.25rem;
  width: 570px;
  text-align: center;
  margin: 0;
}

.contacto__form-container {
  background-image: url("../assets/Illustrations/Frame1g.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 61%;
  width: 61%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 285px;
  background-color: rgba(8, 84, 77, 0.6);
  border-radius: 10px;
  margin-top: 50px;
}

.contacto__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 357px;
  width: 745px;
  margin-top: 60px;
}

.contacto__first-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacto__first-container--nombre {
  border: 2px solid rgba(175, 175, 175, 0.8);
  outline: none;
  width: 22.5rem;
  height: 4.0625rem;
  border-radius: 0.3125rem;
  padding: 0.9375rem;
  font-size: 1.125rem;
  font-family: lato-regular;
}

.contacto__first-container--nombre:focus {
  border: 0.125rem solid #68c63c;
}

.contacto__first-container--telephono {
  border: 2px solid rgba(175, 175, 175, 0.8);
  outline: none;
  width: 360px;
  height: 65px;
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
  font-family: lato-regular;
}

.contacto__first-container--telephono:focus {
  border: 2px solid #68c63c;
}

.contacto__second-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto__second-container--email {
  outline: none;
  border: 2px solid rgba(175, 175, 175, 0.8);
  height: 65px;
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
  font-family: lato-regular;
}

.contacto__second-container--email:focus {
  border: 2px solid #68c63c;
}

.contacto__second-container--req {
  outline: none;
  border: 2px solid rgba(175, 175, 175, 0.8);
  height: 130px;
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
  font-family: lato-regular;
  resize: none;
}

.contacto__second-container--req:focus {
  border: 2px solid #68c63c;
}

.contacto__second-container--button {
  width: 90px;
  height: 45px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: rgba(175, 175, 175, 0.8);
  color: #ffffff;
  border-radius: 5px;
  font-size: 18px;
  font-family: lato-regular;
  outline: none;
  border: none;
}

.contacto__second-container--button:active, .contacto__second-container--button:hover {
  background-color: #68c63c;
}

.contacto__phone {
  background-color: rgba(175, 175, 175, 0.3);
}

.contacto__phone--container {
  padding: 20px 40px;
}
/*# sourceMappingURL=main.css.map */